<template>
  <div>
    <img src="./assets/logo.png" alt="Vue logo" >
    <!-- Static type -->
    <greeting-message first_name="Mark" last_name="Zuckerberg"/>
    <greeting-message first_name="Elon" last_name="Musk"/>
    <greeting-message first_name="Bill" last_name="Gate"/>
    <hr />
    <!-- Dynamic view -->
    <greeting-message :first_name="fName" v-bind:last-name="lName" />
    <greeting-message v-bind:full-name="fullName"/>
  </div>
</template>

<script>
import GreetingMessage from './components/GreetingMessage.vue';
  export default {
    name: 'App',
    data() {
      return {
        fName: 'Jhon',
        lName: 'Doe',
      }
    },
    computed: {
      fullName() {
        return this.fName + "" +this.lName 
      }
    },
    components: {
      GreetingMessage,
    },
  }
</script>

<style>
  #App{
    text-align: center;
  }
</style>
